    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <h2 class="text-muted">Gkosmo Here</h2>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to root_path do %> Home <%end%></li>
            <!-- <li><a href="http://gkosmo.github.io">Quick Card Now</a></li>
            <li><a href="#contact">Other Stuff</a></li> -->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Contact <span class="caret"></span></a>
              <ul class="dropdown-menu">
              <li class="dropdown-header">Professional</li>
                <li><a href="http://gkosmo.github.io">Quick Site</a></li>
                <li><a href="http://www.github.com/gkosmo">Github</a></li>
                <li><a href="http://www.linkedin.com/in/george-kosmopoulos">LinkedIn</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Familiar</li>
                <li><a href="https://www.facebook.com/george.kosmopoulos">Facebook</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
